@using Estacionamento.Domain.Clientes;
@using Estacionamento.Domain.ViewModel;
@using Estacionamento.Web.Helpers;
@using static Estacionamento.Web.Controllers.ClienteController;
@model ResponsePagination<Cliente>
@{
    ViewBag.Title = "Cliente";
}
@section scripts{
}
<div>
    <div class="row">
        <div class="col-lg-6">
            <h3>@ViewBag.Title</h3>
        </div>
        <div class="col-lg-6 d-flex flex-row-reverse">
            <a class="btn btn-success" asp-controller="Cliente" asp-action="Create"><i class="fas fa-plus"></i></a>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">E-mail</th>
                <th scope="col">Carro</th>

            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.Id</th>
                        <td>@item.Name</td>
                        <td>@item.Email</td>
                        @* <td>@item.Carro</td>*@
                        <td class="d-flex flex-row-reverse">
                            <div class="d-grid gap-2 d-md-block">
                                <a class="btn btn-danger" asp-route-id="@item.Id" asp-controller="Cliente" asp-action="Deletar">Excluir</a>
                                <a class="btn btn-warning" asp-route-id="@item.Id" asp-controller="Cliente" asp-action="Create">Editar</a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    @*@Html.Pagination(Model, pagina => Url.Action("Index", new { pagina }))*@

    @Html.Pagination(Model, "Cliente")

    <nav>
        @{
            
        }

        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="?currentPage=1&ItemsPerPage=10">Previous</a></li>
            <li class="page-item"><a class="page-link" href="?currentPage=1&ItemsPerPage=10">1</a></li>
            <li class="page-item"><a class="page-link" href="?currentPage=2&ItemsPerPage=10">2</a></li>
            <li class="page-item"><a class="page-link" href="?currentPage=3&ItemsPerPage=10">3</a></li>
            <li class="page-item"><a class="page-link" href="?currentPage=1&ItemsPerPage=10">Next</a></li>
        </ul>
    </nav>



</div>