@using Estacionamento.Domain.Enums;
@using Estacionamento.Domain.MovimentacoesDeVeiculo;
@model MovimentacaoDeVeiculo
@{
    ViewBag.Title = "Movimentação de veículo";
    var fluxos = Html.GetEnumSelectList<Fluxo>();

    var tabelaDePreco = ViewBag.Tabela;

    // if (Model !=null)
    // {
    //     var fluxo = fluxos.FirstOrDefault(q => q.Value == ((int)Model.Fluxo).ToString());
    //     if (fluxo != null)
    //         fluxo.Selected = true;
    // }
}
@section scripts{
    <script src=""></script>
}
<form asp-controller="Cliente" asp-action="Create" method="post">
    <input type="hidden" asp-for="Id">
    <div>
        <h3>@ViewBag.Title</h3>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="Placa">Placa</label>
                            <input type="text" asp-for="Placa" class="form-control" placeholder="Placa">
                        </div>
                        <div class="form-group">
                            <label for="Observacao">Observacao</label>
                            <input type="text" asp-for="Observacao" class="form-control" placeholder="Observação">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="Fluxo">Fluxo</label>

                            @* <select asp-for="Fluxo" asp-items="fluxos" class="form-control"></select> *@

                            @*@Html.DropDownList(
                            "StudentGender",
                            fluxos,
                            "Select Gender",new { @class = "form-control", aspfor="Fluxo" }) *@

                            @Html.DropDownListFor(tabelaDePreco => tabelaDePreco, new SelectList(tabelaDePreco, "Id", "Descricao")
                            , new { @class = "form-control" })

                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    @Html.LabelFor(model => model.DataDeEntrada, htmlAttributes: new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.DataDeEntrada, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DataDeEntrada, "", new { @class = "text-danger" })
                </div>

                <div>
                    <label for="Valor">Valor</label>
                    <input type="number" asp-for="Valor" class="form-control" id="Valor" />
                </div>

                <div class="mt-3">
                    <button class="btn btn-primary btn-block">Adicionar</button>
                </div>

            </div>
        </div>
    </div>
</form>
