@using Estacionamento.Domain.MovimentacoesDeVeiculo;
@using Estacionamento.Web.Helpers;
@using static Estacionamento.Domain.Pagination.PaginationHelper;
@model ResponsePagination<MovimentacaoDeVeiculo>
@{
    ViewBag.Title = "Circulação";
}
@section scripts{

}
<div>
    <div class="row">
        <div class="col-6">
            <h3>@ViewBag.Title</h3>
        </div>
        <div class="col-6 d-flex flex-column align-items-end">
            <a class="btn btn-success" asp-controller="MovimentacaoDeVeiculo" asp-action="Create"><i class="fas fa-plus"></i></a>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Descrição</th>
                <th scope="col">Movimentação</th>
                <th scope="col">Entrada</th>
                <th scope="col">Saída</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
           @if(Model != null && Model.Any())
           {
                foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.Id</th>
                        <td>@item.Placa</td>
                        <td>@item.Fluxo</td>
                        <td>@item.DataDeEntrada.ToShortDateString()</td>
                        <td>@(item.DataDeSaida?.ToShortDateString())</td>
                        <td class="d-flex flex-row-reverse">
                            <div class="d-grid gap-2 d-md-block">
                                <a class="btn btn-warning" asp-route-id="@item.Id" asp-controller="MovimentacaoDeCaixa" asp-action="Create">Editar</a>
                            </div>
                        </td>
                    </tr>
                }
           } 
        </tbody>
    </table>
    @Html.Pagination(Model, "MovimentacaoDeVeiculo")

</div>