@using Estacionamento.Domain.Enums;
@using Estacionamento.Domain.MovimentacoesDeVeiculo;
@using Estacionamento.Web.Helpers;
@using static Estacionamento.Domain.Pagination.PaginationHelper;
@model MovimentacaoDeVeiculo
@{
    ViewBag.Title = "Estacionar";
    MovimentacaoDeVeiculo movimentacao = ViewBag.Movimentacao;
    var fluxos = Html.GetEnumSelectList<Fluxo>();
    ResponsePagination<MovimentacaoDeVeiculo> listagemDeVeiculos = ViewBag.ListagemDeVeiculos;
}

@section scripts{
    <script type="text/javascript">
        var modal = new bootstrap.Modal(document.getElementById('lancarVeiculo'))
        modal.show();

        // $(document.querySelector("Placa")).click(function () {
        //     $("Placa").focus();
        // });

        setInterval(function () {
            var now = new Date();
            now.setMinutes(now.getMinutes() - now.getTimezoneOffset());
            document.getElementById('dt').value = now.toISOString().slice(0, 16);
        }, 1000);
    </script>
}

<div>
    <div class="row">
        <div class="col-6">
            <h3>@ViewBag.Title</h3>
        </div>
        <div class="col-6 d-flex flex-column align-items-end">
            <button type="button" class="btn btn-success px-5" data-bs-toggle="modal" data-bs-target="#lancarVeiculo">
                Adicionar <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Descrição</th>
                <th>Movimentação</th>
                <th>Entrada</th>
                <th>Saída</th>
                @* <th></th> *@
            </tr>
        </thead>

        @if (listagemDeVeiculos.Any())
        {
            <tbody>
                @foreach (var item in listagemDeVeiculos)
                {
                    <tr>
                        <th scope="row">@item.Id</th>
                        <td>@item.Placa</td>
                        <td>@item.Fluxo</td>
                        <td>@(item.DataDeEntrada.ToShortDateString() + " " + item.DataDeEntrada.ToShortTimeString())</td>
                        <td>@(item.DataDeSaida?.ToShortDateString() + " " + item.DataDeSaida?.ToShortTimeString())</td>
                        @* <td class="text-end">
                            @if (item.DataDeSaida == null)
                            {
                                <a class="btn btn-warning" asp-route-id="@item.Id" asp-controller="Home" asp-action="BaixarDaHome">Baixar</a>

                                <a class="btn btn-danger" asp-route-id="@item.Id" asp-controller="Home" asp-action="Delete">Excluir</a>
                            }
                        </td> *@
                    </tr>
                }
            </tbody>
        }
    </table>
    @if (listagemDeVeiculos.Any())
    {
        @Html.Pagination((ResponsePagination<MovimentacaoDeVeiculo>)ViewBag.ListagemDeVeiculos, "Home")
    }
</div>

<!-- Modal -->
<div class="modal fade" id="lancarVeiculo" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <form asp-controller="Home" asp-action="Create" method="post">
                <div class="modal-header">
                    <h3 class="modal-title">@ViewBag.Title</h3>
                </div>
                <div class="modal-body">

                    <input type="hidden" asp-for="Id">
                    <div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="Placa">Placa</label>
                                        <input type="text" asp-for="Placa" class="form-control" placeholder="Placa">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="IdTabelaDePreco">Tabela</label>
                                        <select asp-for="IdTabelaDePreco" class="form-control"
                                                asp-items="@ViewBag.TabelaDePreco">
                                            <option></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <label for="dt">Entrada</label>
                                    <input type="datetime-local" asp-for="DataDeEntrada" class="form-control" id="dt" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Observacao">Observacao</label>
                                <input type="text" asp-for="Observacao" class="form-control" placeholder="Observação">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Voltar</button>
                    <button class="btn btn-success btn-block">Adicionar</button>
                </div>
            </form>
        </div>
    </div>
</div>