@using Estacionamento.Domain.Enums;
@using Estacionamento.Domain.MovimentacoesDeVeiculo;
@using Estacionamento.Web.Helpers;
@using static Estacionamento.Domain.Pagination.PaginationHelper;
@model MovimentacaoDeVeiculo
@{
    ViewBag.Title = "Estacionar";
    var fluxos = Html.GetEnumSelectList<Fluxo>();


}
@section scripts{
    <script type="text/javascript">
        var modal = new bootstrap.Modal(document.getElementById('lancarVeiculo'))
        modal.show()

                // $(document.querySelector("Placa")).click(function () {
                //     $("Placa").focus();
                // });

    </script>
}

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#lancarVeiculo">
    Launch demo modal
</button>


<div>
    <div class="row">
        <div class="col-6">
            <h3>@ViewBag.Title</h3>
        </div>
        <div class="col-6 d-flex flex-column align-items-end">
            <a class="btn btn-success" asp-controller="MovimentacaoDeVeiculo" asp-action="Create"><i class="fas fa-plus"></i></a>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Descrição</th>
                <th scope="col">Movimentação</th>
                <th scope="col">Entrada</th>
                <th scope="col">Saída</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && ViewBag.ListagemDeVeiculos.Any())
            {
                foreach (var item in ViewBag.ListagemDeVeiculos)
                {
                    <tr>
                        <th scope="row">@item.Id</th>
                        <td>@item.Placa</td>
                        <td>@item.Fluxo</td>
                        <td>@item.DataDeEntrada.ToShortDateString()</td>
                        <td>@(item.DataDeSaida?.ToShortDateString())</td>
                    </tr>
                }
            }
        </tbody>
    </table>

    @Html.Pagination((ResponsePagination<MovimentacaoDeVeiculo>)ViewBag.ListagemDeVeiculos, "Home")

</div>




<!-- Modal -->
<div class="modal fade" id="lancarVeiculo" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">@ViewBag.Title</h3>
            </div>
            <div class="modal-body">

                <form asp-controller="Home" asp-action="Create" method="post">
                    <input type="hidden" asp-for="Id">
                    <div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="Placa">Placa</label>
                                        <input type="text" asp-for="Placa" class="form-control" placeholder="Placa">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="IdTabelaDePreco">Tabela</label>
                                        <select asp-for="IdTabelaDePreco" class="form-control"
                                                asp-items="@ViewBag.TabelaDePreco">
                                            <option></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    @Html.LabelFor(model => model.DataDeEntrada, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.DataDeEntrada, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DataDeEntrada, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Observacao">Observacao</label>
                                <input type="text" asp-for="Observacao" class="form-control" placeholder="Observação">
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Voltar</button>
                <button class="btn btn-success btn-block">Adicionar</button>
            </div>
        </div>
    </div>
</div>
