@using Estacionamento.Domain.Usuarios;
@using Estacionamento.Web.Helpers;
@using static Estacionamento.Domain.Pagination.PaginationHelper;
@model ResponsePagination<Usuario>
@{
    ViewBag.Title = "Usuário";
}
@section scripts{
}
<div>
    <div class="row">
        <div class="col-lg-6">
            <h3>@ViewBag.Title</h3>
        </div>
        <div class="col-lg-6 d-flex flex-column align-items-end">
            <a class="btn btn-success  px-5" asp-controller="Usuario" asp-action="Create">Adicionar <i class="fas fa-plus"></i></a>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">E-mail</th>
                <th scope="col">Tipo de usuário</th>
                <th scope="col"></th>

            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.Id</th>
                        <td>@item.Name</td>
                        <td>@item.Email</td>
                        <td>@(item.Administrador ? "Adm" : "Normal")</td>
                        <td class="d-flex flex-row-reverse">
                            <div class="d-grid gap-2 d-md-block">
                                <a class="btn btn-danger" asp-route-id="@item.Id" asp-controller="Usuario" asp-action="Deletar">Excluir</a>
                                <a class="btn btn-warning" asp-route-id="@item.Id" asp-controller="Usuario" asp-action="Create">Editar</a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>


    @Html.Pagination(Model, "Usuario")

</div>